################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FirstCoreWebApplication/FirstCoreWebApplication/bin/Debug/netcoreapp3.1
/FirstCoreWebApplication/FirstCoreWebApplication/obj
/FirstCoreWebApplication/.vs/FirstCoreWebApplication
